<a href="https://colab.research.google.com/github/fgrdz/DataExercises/blob/main/DataExercicio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercicio 1:** Importar o numpy usando o alias

In [ ]:
import numpy as np

**Exercicio 2:** Crie um programa que lê uma **lista** de números e escolha um número desta aleatoriamente.

In [ ]:
from random import choice

lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

# Exercecio com interação

In [ ]:
pessoa = input("Digite seu nome para gerarmos seu token")

Digite seu nome para gerarmos seu tokenJoao

In [ ]:
from random import randrange

token = randrange(1000,9998)
token

8782

In [ ]:
print(f"Olá, {pessoa}, o seu token de acesso é {token}! Seja bem-vindo(a)!")

Olá, Joao, o seu token de acesso é 8782! Seja bem-vindo(a)!

In [ ]:
notas_alunos = {
    "João": 8.5,
    "Maria": 9.0,
    "Pedro": 7.2,
    "Ana": 6.8,
    "Carlos": 9.5,
    "Jose": 0
}
notas_alunos

{'João': 8.5, 'Maria': 9.0, 'Pedro': 7.2, 'Ana': 6.8, 'Carlos': 9.5, 'Jose': 0}

In [ ]:
soma = sum(notas_alunos.values())
qtd = len(notas_alunos)
media_turma = soma / qtd

round(media_turma)

7

Dessa forma, o código pode ficar flexível, caso sejam adicionadas novas chaves no dicionário de notas, ele irá calcular a média corretamente.

Agora vou fazer adicionar um acréscimo as notas, converter para uma lista usando o list do Python, depois utilizando map e lambda function, adicionar o acréscimo em cada nota.

In [ ]:
notas_lista = list(notas_alunos.items())
acrescimo = 1

In [ ]:
def tuplas(x):
  chave, valor = x;
  nova_nota = valor + acrescimo
  return nova_nota

In [ ]:
notas_atualizadas = list(map(tuplas, notas_lista))
notas_atualizadas

nomes = list(notas_alunos)
nomes

['João', 'Maria', 'Pedro', 'Ana', 'Carlos', 'Jose']

# *Estrutura de dados*

In [ ]:
estudantes = list(zip(nomes,notas_atualizadas))
estudantes

[('João', 9.5),
 ('Maria', 10.0),
 ('Pedro', 8.2),
 ('Ana', 7.8),
 ('Carlos', 10.5),
 ('Jose', 1)]

Foi feita a lista de tuplas que retorna os alunos e as notas novas, abaixo, é exibido por meio de ListComprehension, os alunos com melhores médias

In [ ]:
melhores_medias = [nota[0] for nota in estudantes if nota[1]>= 9.0]
melhores_medias

['João', 'Maria', 'Carlos']

In [ ]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

lista_somas = [sum(lista) for lista in lista_de_listas]
lista_somas

[24, 10, 16]

In [ ]:
List = []

In [95]:
# Exercício do leetcode
def romanToInt(s: str) -> int:
  # definir o dicionário com a tabela chave valor
    roman_values = {
        'I': 1,
        'V': 5,
        'X': 10,
        'L': 50,
        'C': 100,
        'D': 500,
        'M': 1000
    }
    s = s.upper() # converte a string para maiúsculo
    value = 0 #iniciar a value com 0 para acumular o valor correspondente ao algarismo
    prev_value = 0
    # a prev acompanha o caractere anterior durante a iteração

    for i in s[::-1]:
      if roman_values[i] >= prev_value:
          value += roman_values[i]
      else:
        value -= roman_values[i]

      prev_value = roman_values[i]

    return value
      # Para cada caractere i na string s, é verificado se o valor numérico
      # correspondente a i (obtido do dicionário roman_values) é maior ou igual ao valor
      # numérico do caractere anterior (prev_value).
      # os algarismos romanos são lidos da direita para a esquerda, e quando um
      # valor menor precede um valor maior, significa que devemos subtrair o valor menor em vez de somá-lo.


s = "xm"
romanToInt(s)

990